/*
* Copyright (C) fastman92 <fastman92@gmail.com>, website: http://fastman92.com
* Licensed under the MIT License, see LICENSE at top level directory.
*
*/

#include "resource.h"

#include <winres.h>
#include <commctrl.h>
// #include <richedit.h>

// #include "winres.h"


//
// Dialog resources
//

#ifdef IS_PLATFORM_WIN_X86
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
PAYPAL_BITMAP		BITMAP		"btn_donateCC_LG.bmp"

FASTMAN92_LIMIT_ADJUSTER_BITMAP        BITMAP         "fastman92LA1.bmp"

#ifndef MAKE_A_LITE_VERSION
// OAK_TREES_BITMAP		BITMAP		"DSC_0560.bmp"
SEA_BITMAP		BITMAP		"IMG_20190802_140509.bmp"
WIND_TURBINE_BITMAP		BITMAP "IMG_20180730_135948.bmp"
// BAD_BITMAP		BITMAP		"BadBitmap.bmp"
PROMO_ILLUSTRATION_BITMAP		BITMAP "promo_illustration.bmp"
#endif

//
// Dialog resources
//

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
DLG_MAIN DIALOG 0, 0, 272, 339
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "fastman92 limit adjuster"
FONT 8, "Ms Shell Dlg"
{
	// LTEXT           "Dynamic Text", 0, 98, 58, 44, 9, SS_LEFT, WS_EX_LEFT
		
		// AUTORADIOBUTTON "Radio", RADIOBOX, 151, 82, 35, 8, 0, WS_EX_LEFT
		// PUSHBUTTON      "Display a Message Box", IDCANCEL, 10, 59, 78, 14, 0, WS_EX_LEFT
		// DEFPUSHBUTTON   "Display Fastman", IDOK, 9, 75, 78, 14, 0, WS_EX_LEFT
		// CONTROL         "Continue into game", 0, WC_STATIC, SS_BLACKFRAME, 97, 10, 72, 44, WS_EX_LEFT

	// CONTROL         NETTLE_BITMAP, NETTLE_BITMAP, WC_STATIC, WS_DLGFRAME | SS_BITMAP | SS_NOTIFY, 0, 0, 1, 1

	CONTROL         FASTMAN92_LIMIT_ADJUSTER_BITMAP, FASTMAN92_LIMIT_ADJUSTER_BITMAP_BUTTON, WC_STATIC, WS_DLGFRAME | SS_BITMAP | SS_NOTIFY, 105, -17+19, 1, 1
	CONTROL "", LATEST_FLA_VERSION_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 4, 44, 86, 15
	CONTROL "test", SUPPORT_MESSAGE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 4, 65, 268, 176+19
	CONTROL         PAYPAL_BITMAP, PAYPAL_BITMAP_BUTTON, WC_STATIC, WS_DLGFRAME | SS_BITMAP | SS_NOTIFY, 92, 231+19, 102, 33
	
	#if PROJECT_IS_UNRELEASED_EDITION
	CONTROL "Exit game", EXIT_GAME_BUTTON, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 276+2, 60, 14
	#endif
	
	// CONTROL "Contact me", CONTACT_ME, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 276+19, 60, 14
	CONTROL "Note from author", NOTE_FROM_AUTHOR_BUTTON, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 276+19, 60, 14
	CONTROL "Continue", CONTINUE_INTO_GAME, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 114, 276+19, 60, 14
	#ifndef MAKE_A_LITE_VERSION
	CONTROL "See the gallery", SEE_GOOD_PIC, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 276+19, 60, 14
	#endif

	CONTROL "Thanks for your support.", 0, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 101, 265+19, 86, 10
	
	CONTROL "If you want to disable the message, set this option in MAIN section of INI file:", 0, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 293+19, 249, 14
	CONTROL "", DISABLE_KEY_TEXTBOX, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 304+19, 250, 14
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

GOOD_PIC_DIALOG DIALOG 0, 0, 490 + 3 + 3, 360
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "fastman92 limit adjuster"
FONT 8, "Ms Shell Dlg"
{
	// CONTROL         NETTLE_BITMAP, 0, WC_STATIC, WS_DLGFRAME | SS_BITMAP | SS_NOTIFY, 0, 0, 331, 251
	
	CONTROL "", GOOD_PICTURE_PLACE, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 3, 490, 339
	
	CONTROL "x", GOOD_PICTURE_INDEX_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 247, 344, 11, 14
	CONTROL "Previous", PREVIOUS_PICTURE_BUTTON, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 187-5, 344, 60, 14
	CONTROL "Next", NEXT_PICTURE_BUTTON, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 250+5, 344, 60, 14	
	
    CONTROL "Description", GOOD_PICTURE_DESCRIPTION_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 344, 177, 40
	CONTROL "", GOOD_PICTURE_DESCRIPTION_LABEL2, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 250+5 + 60 + 1, 344, 177, 40
}

#ifndef MAKE_A_LITE_VERSION
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

NOTE_FROM_AUTHOR_DIALOG DIALOG 0, 0, 252, 274
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Note from author"
FONT 10, "Ms Shell Dlg"
{

  CONTROL "NOTE_FROM_AUTHOR_LABEL", NOTE_FROM_AUTHOR_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 2, 2, 249, 271 
}
#endif

#endif

#ifndef MAKE_A_LITE_VERSION
GLOBAL_EXCEPTION_HANDLER_MUSIC		WAVE		"crashHandlerMusic.wav"
#endif

DOCUMENTATION_MACRO_FILE		RCDATA  		"DocumentationMacros.bin"